@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: Inter, -apple-system, BlinkMacSystemFont, Helvetica Neue, Arial, sans-serif; */
  /* //option2 */
  font-family: "Poppins", sans-serif;
  background-color: var(--main-bg);

  /* background-color: #1d1d1d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='1' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg transform='scale(0.982)' style='transform-origin:center'%3E%3Cg transform='rotate(153 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-64 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%23822897' href='%23a' transform='rotate(-24 0 0) scale(0.76)'/%3E%3Cuse stroke='%237e329b' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%237a3ca0' href='%23a' transform='rotate(-16 0 0) scale(0.84)'/%3E%3Cuse stroke='%237645a4' href='%23a' transform='rotate(-12 0 0) scale(0.88)'/%3E%3Cuse stroke='%23734fa8' href='%23a' transform='rotate(-8 0 0) scale(0.92)'/%3E%3Cuse stroke='%236f59ad' href='%23a' transform='rotate(-4 0 0) scale(0.96)'/%3E%3Cuse stroke='%236b63b1' href='%23a'/%3E%3Cuse stroke='%23676cb5' href='%23a' transform='rotate(4 0 0) scale(1.04)'/%3E%3Cuse stroke='%236376ba' href='%23a' transform='rotate(8 0 0) scale(1.08)'/%3E%3Cuse stroke='%235f80be' href='%23a' transform='rotate(12 0 0) scale(1.12)'/%3E%3Cuse stroke='%235b8ac2' href='%23a' transform='rotate(16 0 0) scale(1.16)'/%3E%3Cuse stroke='%235894c7' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%23549dcb' href='%23a' transform='rotate(24 0 0) scale(1.24)'/%3E%3Cuse stroke='%2350a7cf' href='%23a' transform='rotate(28 0 0) scale(1.28)'/%3E%3Cuse stroke='%234cb1d3' href='%23a' transform='rotate(32 0 0) scale(1.32)'/%3E%3Cuse stroke='%2348bbd8' href='%23a' transform='rotate(36 0 0) scale(1.36)'/%3E%3Cuse stroke='%2344c4dc' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%2340cee0' href='%23a' transform='rotate(44 0 0) scale(1.44)'/%3E%3Cuse stroke='%233cd8e5' href='%23a' transform='rotate(48 0 0) scale(1.48)'/%3E%3Cuse stroke='%2339e2e9' href='%23a' transform='rotate(52 0 0) scale(1.52)'/%3E%3Cuse stroke='%2335ebed' href='%23a' transform='rotate(56 0 0) scale(1.56)'/%3E%3Cuse stroke='%2331f5f2' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%232DFFF6' href='%23a' transform='rotate(64 0 0) scale(1.64)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
  /* hsl grey */
  /* background-color: #f0f0f0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cellipse fill='none' stroke-width='1' id='a' rx='600' ry='450'/%3E%3C/defs%3E%3Cg transform='scale(0.982)' style='transform-origin:center'%3E%3Cg transform='rotate(153 0 0)' style='transform-origin:center'%3E%3Cg transform='rotate(-64 0 0)' style='transform-origin:center'%3E%3Cg transform='translate(1000 750)'%3E%3Cuse stroke='%237F478D' href='%23a' transform='rotate(-24 0 0) scale(0.76)'/%3E%3Cuse stroke='%237d4593' href='%23a' transform='rotate(-20 0 0) scale(0.8)'/%3E%3Cuse stroke='%23794399' href='%23a' transform='rotate(-16 0 0) scale(0.84)'/%3E%3Cuse stroke='%2375419f' href='%23a' transform='rotate(-12 0 0) scale(0.88)'/%3E%3Cuse stroke='%236e3ea6' href='%23a' transform='rotate(-8 0 0) scale(0.92)'/%3E%3Cuse stroke='%23673cac' href='%23a' transform='rotate(-4 0 0) scale(0.96)'/%3E%3Cuse stroke='%235d39b3' href='%23a'/%3E%3Cuse stroke='%235337b9' href='%23a' transform='rotate(4 0 0) scale(1.04)'/%3E%3Cuse stroke='%234634c0' href='%23a' transform='rotate(8 0 0) scale(1.08)'/%3E%3Cuse stroke='%233831c7' href='%23a' transform='rotate(12 0 0) scale(1.12)'/%3E%3Cuse stroke='%232e34ce' href='%23a' transform='rotate(16 0 0) scale(1.16)'/%3E%3Cuse stroke='%232c40d4' href='%23a' transform='rotate(20 0 0) scale(1.2)'/%3E%3Cuse stroke='%232b4fd9' href='%23a' transform='rotate(24 0 0) scale(1.24)'/%3E%3Cuse stroke='%232b5edd' href='%23a' transform='rotate(28 0 0) scale(1.28)'/%3E%3Cuse stroke='%232a6fe2' href='%23a' transform='rotate(32 0 0) scale(1.32)'/%3E%3Cuse stroke='%232a80e6' href='%23a' transform='rotate(36 0 0) scale(1.36)'/%3E%3Cuse stroke='%232a92ea' href='%23a' transform='rotate(40 0 0) scale(1.4)'/%3E%3Cuse stroke='%232ba4ed' href='%23a' transform='rotate(44 0 0) scale(1.44)'/%3E%3Cuse stroke='%232bb7f1' href='%23a' transform='rotate(48 0 0) scale(1.48)'/%3E%3Cuse stroke='%232bcbf5' href='%23a' transform='rotate(52 0 0) scale(1.52)'/%3E%3Cuse stroke='%232cdff8' href='%23a' transform='rotate(56 0 0) scale(1.56)'/%3E%3Cuse stroke='%232cf3fc' href='%23a' transform='rotate(60 0 0) scale(1.6)'/%3E%3Cuse stroke='%232DFFF6' href='%23a' transform='rotate(64 0 0) scale(1.64)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover; */
}
:root {
  --main-bg: #dadada;
  --light-blue: #4b8bced6;
  --arcticBlue: #6997ff;
  --greyBlue: #376d7ed1;
  --default-text-grey: #6f6d6d;
  --text-lightgrey: #c4c0c0;
  --bg-color: #d8d8d8;
  --bg-colorDark: #4c4949;
  --nav-textColor: #fff;
  --nav-spanColor: #363333;
}

/* Override default focus colors for tailwindcss-forms https://github.com/tailwindlabs/tailwindcss-forms */
[type="text"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="password"]:focus,
[type="number"]:focus,
[type="date"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="checkbox"]:focus,
[type="radio"]:focus,
[type="time"]:focus,
[type="week"]:focus,
[multiple]:focus,
textarea:focus,
select:focus {
  --tw-ring-color: var(--primary-color);
  border-color: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* socials Container css */
.socials-container {
  z-index: 10;
}
.socials-container li {
  float: left;
  margin-left: 10px;
  padding-right: 10px;
}
.socials-container svg:hover {
  color: var(--text-lightgrey);
  transform: scale(1.2, 1.2);
  border-bottom: solid 2px var(--arcticBlue);
}
/* socials Container css ends */

/* From https://css.glass */
#glass-container {
  border-radius: inherit;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(33, 31, 31, 0.3); */
}
/* THEME CSS */
[data-theme="dark"].theme-wrapper {
  background: #292828ea;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #fff; */
}
[data-theme="dark"]#post-theme,
[data-theme="dark"]#search-wrapper {
  background: #232323;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* MOBILE HANDLING  */
@media only screen and (max-width: 800px) {
  /* DEVMODE SIGNAL MOBILE LAYOUT */

  body {
    background-color: lightblue;
  }
  #sc {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    min-width: 0;
    width: 100%;
  }
  #search-wrapper {
    width: 100%;
  }

  #sidebar {
    display: none;
  }
  #posts {
    grid-column: span 4 / span 4;
  }
  #container{
    padding: 0;
  }
  #free-tag-input{
    width: 100%;
  }
  #btn-filter-colapse{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* SAMPLE FOR GENERIC Mobile first HANDLING */

/* For mobile phones: */
/* [class*="col-"] {
  width: 100%;
} */
/* For desktop: */
/* @media only screen and (min-width: 768px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
} */
